__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/
.eggs/
.Python
build/
dist/
.env
.venv
.env/
.venv/
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/
.pytest_cache/
coverage.xml
htmlcov/
.mypy_cache/
ruff_cache/
notebooks/.ipynb_checkpoints/
models/
data/raw/
